ion-content{
  --ion-background-color: #107acc;
}

ion-card-content > p{
  font-size: .8rem;
}

ion-card-button{
  width: 10px;
}

ion-menu-button {
    color: var(--ion-color-primary);
  }


  .arriba{
    display: flex;
    justify-content: space-between;
  }

  .titulo{
    display: flex;
    justify-content: center;
  }


  ion-card{
    border-radius: 40px;
    border: 5px solid
  }
  ion-grid{

    display: flex;
    flex-direction: column;
  }
//Carta que gira
  .flip-card {
    margin: 15px;
    padding: 0;
    width: 130px;
    height: 300px;

    .flip-card-inner {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.5s;

      &:hover {
        transform: rotateY(180deg);
      }
    }

    .flip-card-front,
    .flip-card-back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
      background-color: #fff;
    }

    .flip-card-back {
      transform: rotateY(180deg);
    }
  }

  #clima{
    display: flex;
    align-items: center;
    justify-content: center;

  }
