<ion-header [translucent]="true">
  <ion-toolbar color="micolor">
    <ion-buttons slot="start">
      <ion-back-button><p>a</p></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar ruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input class="input" type="number" labelPlacement="floating" placeholder="Ingrese el costo por persona">
        <div slot="label">Costo por persona</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="input" type="number" labelPlacement="floating" placeholder="Ingrese el numero de espacios disponibles">
        <div slot="label">Número de espacio</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="input" type="text" labelPlacement="floating" placeholder="Ingrese la descripcion del viaje">
        <div slot="label">Descripcion</div>
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary"> Guardar Ruta </ion-button>

</ion-content>
