<ion-header [translucent]="true">
  <ion-toolbar color="micolor">
    <ion-buttons slot="start">
      <ion-back-button><p>a</p></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar ruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Punto de inicio</ion-label>
      <ion-input type="text" placeholder="Ingrese el punto de inicio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Punto de destino</ion-label>
      <ion-input type="text" placeholder="Ingrese el punto de destino"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Costo por persona</ion-label>
      <ion-input type="number" placeholder="Ingrese el costo total"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Número de Personas</ion-label>
      <ion-input type="number" placeholder="Ingrese el número de personas"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripcion</ion-label>
      <ion-input type="number" placeholder="Ingrese descripcion"></ion-input>
    </ion-item>
  </ion-list>
  <img src="https://appassets.mvtdev.com/map/188/l/642/595288/1623235.jpg" alt="" style="width: 50%;" >

  <ion-button expand="full" color="primary">
    Guardar Ruta
  </ion-button>

</ion-content>
