ion-header {
    ion-toolbar {
      --background: #007bff;
      --color: #fff;
    }
    ion-title {
      font-size: 24px;
    }
  }


  ion-content {
    ion-list {
      ion-item {
        ion-label {
          font-weight: bold;
        }
      }
    }

    ion-button {
      --background: #007bff;
      --color: #fff;
      margin-top: 10px;
    }

    ion-item {
      input[type="file"] {
        margin-bottom: 5px;
        padding: 5px;
        background-color: #f9f9f9;
      }
    }
  }

  ion-content{
    --ion-background-color: #107acc;
  }

